body {
    background-color: #1c2230;
    
}
.navbar {
    background-color: #1c2230;
}
.collapse {
    display: flex;
    flex-direction: row-reverse;
}
.navbar-brand {
    font-size: 40px;
    margin-top : 15px;
}
.nav-link {
    color: #fff !important;
    margin-top : 5px;
    margin-right: 8px;
}
.head-image {
    margin-left: 40vh;
}
.container-head-text {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.head-btn {
    background-color: #8cdae4;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    font-size: 20px;
    margin : 20px auto;
    
}

.head-text{
    position: absolute;
    color:white;
    left : 50%;
    top : 4%;
    transform : translate(-50%);
    text-align: center;
}

.container_specs {
    background-color: #181f2b;
    
}
.specs-card {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
.specs {
    width: 330px;
}
.container-body {
    background-color: #181f2b;
}
.quote-text {
    color: #fff;
    text-align: center;
    margin-top: 80px;
}
.container-quote {
    margin-top: 50px;
}
.quote-body {
    display: flex;
    justify-content: space-evenly;
    
}
.quote-img {
    width: 700px;
}
.container-access {
    background-color: #1c2230;
    color: #fff;
    width: 700px;
    margin: 20px auto;
    padding: 30px;
}
.container-access-body {
    text-align: center;
}
.access-input {
    width: 300px;
    border: none;
    border-radius: 14px;
    padding: 5px;
}
.access-btn {
    width: 180px;
    background-color: #51c3d3;
    color: #fff;
    border: none;
    margin-left: 8px;
    border-radius: 14px;
    padding: 5px;
}
.container-footer {
    background-color: #0c1524;
    color: #fff;
}
.container-footer-body {
    
    
}
.footer-body {
    display: flex;
    justify-content: space-evenly;
    margin: 60px auto;
    padding-bottom: 30px;
}